@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    
}


body {  
   
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #252525; 
   
}

.content-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
.content-wrap {
     flex-direction: column;
   }
 }

li, a {
    font-family:'Oswald', sans-serif;;
     font-weight: 300;
     font-size: 16px;
     color: #ffff;
     text-decoration: none;
 }
  
  header {  
 
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:center;
     padding: 50px 10%;
     align-items: baseline;
   
     height: 200px;
 
  }

  /*headings and logo*/

 
.logo {     
    margin-right: auto;    
    cursor: pointer;
    text-shadow: 4px 4px 7px #000;
   }

   
   h1, h2 {
    font-family: 'Oswald', sans-serif;    
    letter-spacing: 3px;
    color: #ffff;

}


  
 
 
 /*headings and logo*/
 
  
 .logo {     
     margin-right: auto;    
     cursor: pointer;
     text-shadow: 4px 4px 7px #000;
    }
 
    
    h1, h2 {
     font-family: 'Oswald', sans-serif;    
     letter-spacing: 3px;
     color: #ffff;
 
 }

 li, a {
    font-family:'Oswald', sans-serif;;
     font-weight: 300;
     font-size: 16px;
     color: #ffff;
     text-decoration: none;
 }
  
 /*navigations menu and hero image*/

 header {  
     
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 50px 10%;
    align-items: baseline;
  
    height: 200px;

 }

 
 
  .menu {
     list-style: none;
     letter-spacing: 3px;
     font-size: 110%;
        
  }
 
  .menu li {
     display: inline-block;
     padding: 0px 20px;
  }
 
  .menu li a {
     transition: all 0.3s ease 0s;
     color: inherit;
     
  }
 
  .menu li a:hover {
     color:#e67a16;     
     transition-property: color;
     transition-duration: 2s;
 
  }
 
  .active { 
    border-bottom: 1px solid #e67a16;
  }

  #outer-hero {
   
   
   
   height: 900px;
   width: 100%;
   overflow: hidden;  
  
 }

 #hero-image {   
   display: flex;
   flex-direction: column;
   height: 900px;
   width: 100%;
   background: url("../images/hero-image.jpg") no-repeat center center;
   background-size: cover;

   animation-name: hero-zoom;
   animation-duration: 3s;
   animation-fill-mode: forwards;  

  
  
 }

 /* zoom animations for hero image*/
 
 
   @keyframes hero-zoom {
      from{
         transform: scale(1);
         
      }
      to{
         
         transform: scale(1.05);

      }   
   
 }


/* cover text hero image*/

.cover-text-wrap{

   display: flex;
   flex: 2; 
   flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    padding: 50px 10%;

}


#cover-hero-text {
   
 flex-flow: column wrap;
 align-items: center;
 justify-content: center;
    

font-size: 120%;
font-family: Oswald,sans-serif;
letter-spacing: 3px;
padding: 10px;
text-align: center;
text-shadow: 4px 4px 7px #000;

width: 650px;
height: auto;

background-color: rgba(238, 109, 34, 0.089);
border: 5px double #e67a16;
bottom: 150px;
left: 80px;


}


.font-cover-hero-title{

   line-height:1.2em;
   font-size: 60px;
   text-align: center;
}
   

.button {

   background-color: #ffff;  
   border: none;
   color: #000;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1rem;
 }
 
 @media screen and (min-width: 576px)  {
   
   .content-wrap{
      display: flex;
   }
   header, .menu{
     flex-direction: row;
   }



}
@media screen and (min-width: 800px)  {
   header, .menu{
     flex-direction: row;
   }
}

/* Main ICON Section */







.main-pages-icons {   
 
   display: flex;  
      
   flex-flow: column wrap; 
  
   margin: 40px auto;  

   
}

.first_icon_section{
flex: 1;

  
}

.second_icon_section{
   
   flex: 1;
   display: flex; 
   margin:40px auto 0 auto;   
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   
  
}

#icons-heading {
  
   justify-content:center;   
   align-items: center; 
   margin:  auto 100px;
   
   padding: 1.5em;

   line-height:1.2em;
   font-size: 30px;
   text-align: center;
   text-shadow: 4px 4px 7px #000;
   background-color:  hsla(22, 86%, 53%, 0.055);
   border: 5px double #e67a16;   

  }

.figure_icon_wrap{

   display: flex;
   padding: 30px;
   height: 400px;
   width: 400px;

  margin: 20px auto 40px auto;
  
}

.figure_icon{
     
  justify-content: space-around;
  align-items: center;
      
}

.figure_icon img{

   width: 100%;
   height: auto;
   min-width:100px;
   border: 5px double #e67a16;
   border-radius: 50%;
   margin-bottom: 0;
 
  }

  figcaption {

  
   width: 300px;   
   text-align: center;
   margin-top: 40px;
   text-shadow: 4px 4px 7px #000;

 }

/*media query responsivenes for Icons- section*/

/* Responsive layout - makes a one column-layout instead of two-column layout */

@media (max-width: 600px) {
   .main-pages-icons {
     flex-direction: column;
   }

   .first_icon_section{

     flex-direction: column;   
        
      }
      
      .second_icon_section{
   
          
         flex-direction: column; 
         justify-content: center;
         align-items: center;
        
      }
}


    
 /* COMPETITION Section*/

 .competitions-wrapper { 
  
 padding: 60px 40px;
 margin: 40px auto 0;
 
 background: url("../images/competitions-bg.jpg") no-repeat center center;
 background-size: cover;
 background-color: hsla(0, 0%, 0%, 0.041);
 }

 

 .competition_block{
  
   flex-basis:20%;
   text-align:center;
   line-height: 25px;
 }

 /* Media query COMPETITION Section*/

 @media(min-width: 900px){
   .competitions-wrapper {
      display: flex;
      justify-content: space-between;  
     
   }
 }

 footer {  
   
   background-color: rgba(19, 20, 20, 0.384);
   height: auto;
   width: 100%;
   padding: 20px 10px;  

   
     
   
}

.footer-container{
   max-width: 1200px;
   margin: auto;

   display: flex;
   flex-grow: 1;
   gap: 20px;  
  
  
   padding: 50px;   

}

.social-contact{

   display: flex;
   flex-flow: column wrap;
   flex-grow: 1;
   flex-basis: 100%;
  
  
   
}
.social-contact h1 {

   margin-bottom: 20px;

}

.social-icons{

   display: flex;
   flex-flow: column wrap;
   padding-top: 20px;
}


/*form footer*/


.footer-form {
   display: flex;
   flex-flow: column wrap;
   flex-grow: 1;
   flex-basis: 100%;
   
  

}

.footer-form h1{

   margin-bottom: 20px;

}


#email {

   padding: 15px 32px;
   font-size: 1rem;
   text-shadow: 4px 4px 7px #000;

}
  

#submit {
   font-size: 1rem;
   padding: 15px 32px;
   text-shadow: 4px 4px 7px #000;
   background-color: hsla(29, 83%, 49%, 0.705);
}


/*copyright footer*/

.copyright{
 padding: 15px 0;
 text-align: end;
 border-top: 1px solid #ffff;
}
 
/* footer media*/

@media only screen and (max-width: 768px)
{
   .footer-container{

      flex-direction:column;
   }
   
}


/* CALENDAR PAGE */