/*CALENDAR PAGE STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    
}


body {  
   
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #252525; 
    /*background: linear-gradient(to left #252525, #7e7e7e);*/
}

li, a {
    font-family:'Oswald', sans-serif;;
     font-weight: 300;
     font-size: 16px;
     color: #ffff;
     text-decoration: none;
 }
  
  header {  
 
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:center;
     padding: 50px 10%;
     align-items: baseline;
   
     height: 100px;
 
  }
 
 
 /*headings and logo*/
 
  
 .logo {     
     margin-right: auto;    
     cursor: pointer;
     text-shadow: 4px 4px 7px #000;
    }
 
    
    h1, h2 {
     font-family: 'Oswald', sans-serif;    
     letter-spacing: 3px;
     color: #ffff;
 
 }
  
 /*Navigations Menu*/
 
 .calendar-header{

    background-color: rgba(238, 109, 34, 0.089);

    grid-area: hdf;
    grid-template-columns: 1 / 7 ;
    grid-template-rows: 1 / 2;
    padding-bottom: 20px;

    }

  .menu {
     list-style: none;
     letter-spacing: 3px;
     font-size: 110%;
        
  }
 
  .menu li {
     display: inline-block;
     padding: 0px 20px;
  }
 
  .menu li a {
     transition: all 0.3s ease 0s;
     color: inherit;
     
  }
 
  .menu li a:hover {
     color:#e67a16;
     /*border-bottom: 1px solid #e67a16;*/
     transition-property: color;
     transition-duration: 2s;
 
  }
 
  .active { 
    border-bottom: 1px solid #e67a16;
  }


  /*MEDIA SCREEN*/

  /* Medium screens */
@media all and (max-width: 800px) {
    .calendar-header{
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .calendar-header{
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }


  /*Calendar Main */

.content-calendar-wrap {    
  
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:

    "hdf hdf hdf hdf hdf hdf"
    "main main main main main main" 
    "ft ft ft ft ft ft" ;    
    }
          

 

.calendar-container{

 height: auto;   
 width: 100%;
 background: url("../images/hero-image.jpg") no-repeat center center;
 background-size: cover;
 display: grid;   
 grid-area: main;  
 

}

.calendar{  
 
 
 background-color: #25252593;

 display: grid;
 grid-template-columns: 2 / 6;
 grid-template-rows: 2 / 3;
 
 margin: 100px 20%;
 padding: 60px 40px ;
 
 

}
 
.title{

 line-height:1.2em;
 font-size: 60px;
 text-align: center;

 padding: 10px;
 margin-top: 2rem;
 margin-bottom: 2rem;
 
 display: grid;
 
 justify-content: center;
 align-content: start;

}


.calendar-month {   

    display: grid;
    grid-template-columns: 2 / 6;
    grid-template-rows: 2 / 3;
 
 }

.month

{  
    width: 100%;
    margin: auto;
 
    display: flex;
    flex-grow: 1;
    gap: 100px;  
    border-bottom: 1px solid hsla(29, 83%, 49%, 0.575);
    justify-items: center;
    align-items:flex-start;
    padding: 20px;  
  

}
/* Media query for month competition ca;endar*/

@media only screen and (max-width: 768px)

 {
    .month{
 
       flex-direction:column;
    }
 }

.event {


letter-spacing: 3px;
list-style: none;
justify-items:center;
align-items: center;

display: flex;
flex-flow: column wrap;
flex-grow: 1;
flex-basis: 100%;
}

.event-date  a:hover{

    color:#e67a16;
    
}


/* FOOTER STYLING */

footer {  
   
    background-color: rgba(19, 20, 20, 0.384);
    height: auto;
    width: 100%;
    padding: 20px 10px;  
 
 
    display: grid;
    grid-column: 1 /7;
    grid-row: 3 / 4;
    grid-area: ft; 
      
    
 }
 
 .footer-container{
    max-width: 1200px;
    margin: auto;
 
    display: flex;
    flex-grow: 1;
    gap: 20px;  
   
   
    padding: 50px;   
 
 }
 
 .social-contact{
 
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-basis: 100%;
   
   
    
 }
 .social-contact h1 {
 
    margin-bottom: 20px;
 
 }
 
 .social-icons{
 
    display: flex;
    flex-flow: column wrap;
    padding-top: 20px;
 }
 
 
 /*form footer*/
 
 
 .footer-form {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-basis: 100%;
   
 
 }
 
 .footer-form h1{
 
    margin-bottom: 20px;
 
 }
 
 
 #email {
 
    padding: 15px 32px;
    font-size: 1rem;
    text-shadow: 4px 4px 7px #000;
 
 }
   
 
 #submit {
    font-size: 1rem;
    padding: 15px 32px;
    text-shadow: 4px 4px 7px #000;
    background-color: hsla(29, 83%, 49%, 0.705);
 }
 
 
 /*copyright footer*/
 
 .copyright{
  padding: 15px 0;
  text-align: end;
  border-top: 1px solid #e67a16;
 }
  
 /* footer media*/
 
 @media only screen and (max-width: 768px)
 {
    .footer-container{
 
       flex-direction:column;
    }
 }
 
 
 