@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    
}


body {  
   
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #252525; 
   
}

.content-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
.content-wrap {
     flex-direction: column;
   }
 }

li, a {
    font-family:'Oswald', sans-serif;;
     font-weight: 300;
     font-size: 16px;
     color: #ffff;
     text-decoration: none;
 }
  
  header {  
 
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items:center;
     padding: 50px 10%;
     align-items: baseline;
   
     height: 200px;
 
  }

  /*headings and logo*/

 
.logo {     
    margin-right: auto;    
    cursor: pointer;
    text-shadow: 4px 4px 7px #000;
   }

   
   h1, h2 {

    font-family: 'Oswald', sans-serif;    
    letter-spacing: 3px;
    color: #ffff;

}

 
  
 /*headings and logo*/
 
  
 .logo {     

     margin-right: auto;    
     cursor: pointer;
     text-shadow: 4px 4px 7px #000;
    }
 
    
    h1, h2 {
     font-family: 'Oswald', sans-serif;    
     letter-spacing: 3px;
     color: #ffff;
 
 }

 li, a {
    font-family:'Oswald', sans-serif;;
     font-weight: 300;
     font-size: 16px;
     color: #ffff;
     text-decoration: none;
 }
  
 /*navigations menu and hero image*/

 header {  
     
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 50px 10%;
    align-items: baseline;
  
    height: 200px;

 }

 
 
  .menu {
     list-style: none;
     letter-spacing: 3px;
     font-size: 110%;
        
  }
 
  .menu li {
     display: inline-block;
     padding: 0px 20px;
  }
 
  .menu li a {
     transition: all 0.3s ease 0s;
     color: inherit;
     
  }
 
  .menu li a:hover {
     color:#e67a16;     
     transition-property: color;
     transition-duration: 2s;
 
  }
 
  .active { 
    border-bottom: 1px solid #e67a16;
  }

  #outer-hero {
   
   
   
   height: 900px;
   width: 100%;
   overflow: hidden;  
  
 }

 .pages_header{
   background-color: #1d1b1b2a;
 }

 #hero-image {   
   display: flex;
   flex-direction: column;
   height: 900px;
   width: 100%;
   background: url("../images/hero-image.jpg") no-repeat center center;
   background-size: cover;

   animation-name: hero-zoom;
   animation-duration: 3s;
   animation-fill-mode: forwards;  

  
  
 }

 /* zoom animations for hero image*/
 
 
   @keyframes hero-zoom {
      from{
         transform: scale(1);
         
      }
      to{
         
         transform: scale(1.05);

      }   
   
 }


/* cover text hero image*/

.cover-text-wrap{

   display: flex;
   flex: 2; 
   flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    padding: 50px 10%;

}


#cover-hero-text {
   
 flex-flow: column wrap;
 align-items: center;
 justify-content: center;
    

font-size: 120%;
font-family: Oswald,sans-serif;
letter-spacing: 3px;
padding: 10px;
text-align: center;
text-shadow: 4px 4px 7px #000;

width: 650px;
height: auto;

background-color: rgba(238, 109, 34, 0.089);
border: 5px double #e67a16;
bottom: 150px;
left: 80px;


}


.font-cover-hero-title{

   line-height:1.2em;
   font-size: 60px;
   text-align: center;
}
   

.button {

   background-color: #ffff;  
   border: none;
   color: #000;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1rem;
 }
 
 @media screen and (min-width: 576px)  {
   
   .content-wrap{
      display: flex;
   }
   header, .menu{
     flex-direction: row;
   }



}
@media screen and (min-width: 800px)  {
   header, .menu{
     flex-direction: row;
   }
}

/* Main ICON Section */




.main-pages-icons {   
 
   display: flex;  
      
   flex-flow: column wrap; 
  
   margin: 40px auto;  

   
}

.first_icon_section{
flex: 1;

  
}

.second_icon_section{
   
   flex: 1;
   display: flex; 
   margin:40px auto 0 auto;   
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   
  
}

#icons-heading {
  
   justify-content:center;   
   align-items: center; 
   margin:  auto 100px;
   
   padding: 1.5em;

   line-height:1.2em;
   font-size: 30px;
   text-align: center;
   text-shadow: 4px 4px 7px #000;
   background-color:  hsla(22, 86%, 53%, 0.055);
   border: 5px double #e67a16;   

  }

.figure_icon_wrap{

   display: flex;
   padding: 30px;
   height: 400px;
   width: 400px;

  margin: 20px auto 40px auto;
  
}

.figure_icon{
     
  justify-content: space-around;
  align-items: center;
      
}

.figure_icon img{

   width: 100%;
   height: auto;
   min-width:100px;
   border: 5px double #e67a16;
   border-radius: 50%;
   margin-bottom: 0;
 
  }

  figcaption {

  
   width: 300px;   
   text-align: center;
   margin-top: 40px;
   text-shadow: 4px 4px 7px #000;

 }

/*media query responsivenes for Icons- section*/



@media (max-width: 600px) {
   .main-pages-icons {
     flex-direction: column;
   }

   .first_icon_section{

     flex-direction: column;   
        
      }
      
      .second_icon_section{
   
          
         flex-direction: column; 
         justify-content: center;
         align-items: center;
        
      }
}


    
 /* COMPETITION Section*/

 .competitions-wrapper { 
  
 padding: 60px 40px;
 margin: 40px auto 0;
 
 background: url("../images/competitions-bg.jpg") no-repeat center center;
 background-size: cover;
 background-color: hsla(0, 0%, 0%, 0.041);
 }

 
 .competition_block{
  
   flex-basis:20%;
   text-align:center;
   line-height: 25px;
 }

 /* Media query COMPETITION Section*/

 @media(min-width: 900px){
   .competitions-wrapper {
      display: flex;
      justify-content: space-between;  
     
   }
 }

 /* FOOTER */

 footer {  
     
   height: auto;
   width: 100%;
   padding: 20px 10px;  

   background-color: #1d1b1b2a;     
   
}

.footer-container{
   max-width: auto;
   margin: auto;

   display: flex;
   flex-grow: 1;
   gap: 20px;    
  
   padding: 50px;   

}

.social-contact{

   display: flex;
   flex-flow: column wrap;
   flex-grow: 1;
   flex-basis: 100%;  
   
}

.social-contact h1 {

   margin-bottom: 20px;

}

.social-icons{

   display: flex;
   flex-flow: column wrap;
   padding-top: 20px;
}


/*form footer*/


.footer-form {
   display: flex;
   flex-flow: column wrap;
   flex-grow: 1;
   flex-basis: 100%;
   
  

}

.footer-form h1{

   margin-bottom: 20px;

}


#email {

   padding: 15px 32px;
   font-size: 1rem;
   text-shadow: 4px 4px 7px #000;

}
  

#submit {
   font-size: 1rem;
   padding: 15px 32px;
   text-shadow: 4px 4px 7px #000;
   background-color: hsla(29, 83%, 49%, 0.705);
}


/*copyright footer*/

.copyright{
 padding: 15px 0;
 text-align: end;
 border-top: 1px solid #ffff;
}
 
/* footer media*/

@media only screen and (max-width: 768px)
{
   .footer-container{

      flex-direction:column;
   }
   
}


/* CALENDAR PAGE */



.calendar-container{
   display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}



.calendar_title{
   background-color: #25252593; 
   padding: 60px 40px ;

   flex: 1;
 

}


.calendar-month{
   background-color: #25252593;

   padding: 60px 20%;

   flex: 1;

   display: flex;
   flex-direction: column;

}

.month{
   flex:1;
   display: flex;
   padding: 40px 20px;

   border-bottom: 1px solid hsla(29, 83%, 49%, 0.575);

}

.title{

   line-height:1.2em;
   font-size: 60px;
   text-align: center;
  
   padding: 10px;
   margin-top: 2rem;
   margin-bottom: 2rem;
   
   
   justify-content: center;
   align-content: start;
  
  }
  
  .event_month{
   flex: 1;
  }

  .event{
   flex: 1;
   letter-spacing: 3px;
   list-style: none;   

  }

  .event-date{
   padding-bottom: 10px;
  }

  @media screen and (min-width: 500px) {
   .calendar-container {
     flex-direction: column;
   }
 }

 /* COACHES PAGE */

 .container-coaches{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: auto;
   margin: 0 auto;
   padding: 40px;
   background-image: url('/assets/images/hero-image.jpg');
   background-size: cover;    
   background-attachment: fixed; 
 }

 .coach_title{

   flex: 1;
   background-color: #25252593; 
   padding: 60px 40px ;  
   margin-bottom: 20px;   
   
 }

 .coach{
   flex: 1;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;   
 
 }

.card{
  
   flex-basis: 30%;   
   padding: 40px 20px;
   box-sizing: border-box;
   background-color: hsla(33, 6%, 35%, 0.103);
  
   border-radius: 5px;
   border-bottom: 1px solid #ca8340;
   display: flex;
   flex-direction: column;
   align-items: center;   
   color: white;
}

.card-name{

   margin-top: 15px;
   font-size: 2em;
   text-transform: uppercase;
 }

 .card img{

   height: 160px;
   width: 160px;
   
   min-width:100px;
   border: 3px double #e67a16;
   border-radius: 50%;
   margin-bottom: 0;
   box-shadow: 0 10px 50px rgba(182, 96, 38, 0.582);

 }

 .icons {
   padding: 0;
   list-style: none;
   margin: 1em;
 }

 .icons li{
   display: inline-block;
   margin: 0.15em;
   position: relative;
   font-size: 1em;
 }

 .icons i{
   color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
 }

 .icons a{
   display: inline-block;
 }

 .icons a:before {
   transform: scale(1);
   -ms-transform: scale(1);
   -webkit-transform: scale(1);
   content: " ";
   width: 45px;
   height: 45px;
   border-radius: 100%;
   display: block;
   background: linear-gradient(45deg, #0c0c0b, #ca8340);
   transition: all 265ms ease-out;
 }

 .icons a:hover:before {
   transform: scale(0);
   transition: all 265ms ease-in;
 }

 .icons a:hover i {
   transform: scale(2.2);
   -ms-transform: scale(2.2);
   -webkit-transform: scale(2.2);
   color: #e67a16;
   background: -webkit-linear-gradient(45deg,#e67a16, #ca8340);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: all 265ms ease-in;
 }
 
 .btn{
   background-color: #ffff;
  
   border: none;
   cursor: pointer;
   line-height: 1.5;
   font: 300 1rem;
   padding: 0.5em 2em;
   letter-spacing: 3px;
   margin: 1em;
   width: 10rem;
   text-shadow: 4px 4px 7px #000;
   transition-duration: 0.4s;  
   
    text-align: center;   
    display: inline-block;
    
 }

 .btn h2{
   color:#252525;
   text-transform: uppercase;
}


button:hover {
   background-color: #ca8340;
   color: #ffff;
}
.btn_contact:focus {
   outline: 2px solid #16151449;
 }

 /* Media query COACHES PAGE */

/* Medium screens */


@media only screen and (min-width: 800px)
{

  
   .coach{

      flex-direction:row;
   }
}

@media only screen and (max-width: 768px)
{
  

   .coach{

      flex-direction:column;
   }
}


/* PAGE GALLERY */


.container {
   padding: 40px 5%;
 }
 
 .heading-text {
   margin-bottom: 2rem;
   font-size: 2rem;
 }
 
 .heading-text span {
   font-weight: 100;
 }
 
 ul {
   list-style: none;
 }
 
 
 
 .image-gallery {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
 }
 
 .image-gallery > li {
   flex: 1 1 auto; 
   height: 300px;
   cursor: pointer;
   position: relative;
 }
 
 
 
 .image-gallery li img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   vertical-align: middle;
   border-radius: 5px;
 }
 
 .overlay {

   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(57, 57, 57, 0.502);
   top: 0;
   left: 0;
   transform: scale(0);
   transition: all 0.2s 0.1s ease-in-out;
   color: #fff;
   border-radius: 5px;
   
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 
 .image-gallery li:hover .overlay {
   transform: scale(1);
 }
 
 
/* CONTACT US PAGE */

.contact_container{

height: auto;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;

}


.form_area{

   background: #ffff;
   color: #000;
   display: flex; 
   flex: 1;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   margin: 30px;
   box-shadow: 0 40px 20px rgba(0, 0, 0, 0.5);

}



.btn_contact{

   background-color: rgba(212, 110, 14, 0.534);
  
   border: none;
   cursor: pointer;
  
   
   letter-spacing: 3px;
   margin: 1em;
   height: 50px;
   width: 10rem;
   text-shadow: 4px 4px 7px #000;
   transition-duration: 0.4s;  
   border-radius: 25px;
    text-align: center;   
    display: inline-block;
    
 }

 .btn_contact h2{
   color:#252525;
   text-transform: uppercase;
}

.btn_contact:hover {
   background-color: #ca8340;
   color: #ffff;
}

.btn_contact:focus {

   outline: 2px solid #16151449;
 }

 

 .img_area{

height: auto;
width: 100%;
flex: 2;
justify-content: center;
align-items: center;

background: url("../images/hero-image.jpg") no-repeat center center;
background-size: cover;

}

.left_text{

   padding: 100px 60px;
   color: #fff;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: 600;
    line-height: 2em;
}

.left_text p{

   text-transform: none;

}

.left_text i{
   font-size: 25px;
   color: #fff;
   margin: 25px;
  

}


.contact_title{

   font-weight: 600;
   font-size: 25px;
   margin: 0 0 30px;
   

}

.right_text{
   margin: 60px 40px;
   flex: 1;
   justify-content: space-between;
   align-items: center;
}

.right_text input{

   width: 100%;
   margin-bottom: 15px;
   padding: 10px;
   border-radius: 25px;
}

.right_text textarea{

   width: 100%;
   padding: 10px;
   border-radius: 25px;
}

 .google_map{

   flex: 1;
   flex-direction: column;
   margin: 60px 0;

   box-shadow: 0 40px 20px rgba(0, 0, 0, 0.5);
   
   justify-content: center;
   align-items: center;
  
 }

@media screen and (min-width: 800px)  {

   .contact_container{

      display: flex;
   }

   .form_area{

      flex-direction: row;
   }
    
}
