
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
    
}


body {  
   
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffff;
    background-color: #252525; 

    display:grid;
    
    /*grid-template-rows: 900px 300px auto 300px ;*/
    grid:' hd hd hd hd'
         'fs fs fs fs'
         'ss ss ss ss'
         'footer footer footer footer';
                          
    
   

}

li, a {
   font-family:'Oswald', sans-serif;;
    font-weight: 300;
    font-size: 16px;
    color: #ffff;
    text-decoration: none;
}
 
 header {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 50px 10%;
    margin-top: 50px;    
    height: 100px;

 }


/*headings and logo*/

 
.logo {     
    margin-right: auto;    
    cursor: pointer;
    text-shadow: 4px 4px 7px #000;
   }

 
   h1, h2 {
    font-family: 'Oswald', sans-serif;    
    letter-spacing: 3px;
    color: #ffff;

}
  

 
/*navigations menu*/


 .menu {
    list-style: none;
    letter-spacing: 3px;
    font-size: 110%;
       
 }

 .menu li {
    display: inline-block;
    padding: 0px 20px;
 }

 .menu li a {
    transition: all 0.3s ease 0s;
    color: inherit;
    
 }

 .menu li a:hover {
    color:#e67a16;
    /*border-bottom: 1px solid #e67a16;*/
    transition-property: color;
    transition-duration: 2s;

 }

 .active{ 
   border-bottom: 1px solid #e67a16;
 }

 /* style the hero image */

 #outer-hero {
   height: 900px;
   width: 100%;
   overflow: hidden;

   position: relative;     
   
   grid-area: hd;

 }

 #hero-image{
   height: 900px;
   width: 100%;
   background: url("../images/hero-image.jpg") no-repeat center center;
   background-size: cover;

   animation-name: hero-zoom;
   animation-duration: 3s;
   animation-fill-mode: forwards;  
   grid-area: hd;

  
 }

 /* zoom animations for hero image*/
 
 
   @keyframes hero-zoom {
      from{
         transform: scale(1);
         
      }
      to{
         
         transform: scale(1.05);

      }   
   
 }

/* cover text hero image*/

#cover-hero-text {

font-size: 120%;
font-family: Oswald,sans-serif;
letter-spacing: 3px;
padding: auto;
text-align: center;
text-shadow: 4px 4px 7px #000;

width: 600px;
height: 200px;

background-color: rgba(238, 108, 34, 0.4);

bottom: 100px;
left: 80px;

position: absolute;

}


#font-cover-hero-title{

   line-height:1.2em;
   font-size: 60px;
   text-align: center;
}  



/* coach and calendar image links*/

.main-pages-icons {   
 
   display: flex;  
   align-items: center;  
   justify-content:space-evenly; 
   
   flex-direction: row;
   flex-flow: row wrap;
   align-content: space-evenly;

   min-height:900px;
   width: 100%;
   

   grid-area: fs;

}

 
 .main-pages-icons > div{

   height: 600px;
   width: auto;  
   padding: 0.5rem;

   display: flex;
   justify-content: center;
   align-items:center;
  
   }

  #icons-heading{

   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   align-items:flex-start;
   align-content: flex-start;
   margin: 10px;
   padding: 1.5rem;

   line-height:1.2em;
   font-size: 60px;
   text-align: center;
   text-shadow: 4px 4px 7px #000;
   background-color: rgba(238, 109, 34, 0.089);

  }

figure {

   display:flex;
   flex-flow: column;
   justify-content: center;
   width: 300px;
   height: 300px;
   
}

figure img{

   width: 100%;
   height: auto;
   min-width:100px;
   border: 5px double #e67a16;
   border-radius: 50%;
   margin-bottom: 0;
 
  }

figcaption {
   align-self: center;
   width: 30vw;
   text-align: center;
   margin-top: 10px;
   text-shadow: 4px 4px 7px #000;

 }

/*media query responsivenes*/
/* Responsive layout - makes a one column-layout instead of two-column layout */

@media (max-width: 800px) {
   .main-pages-icons {
     flex-direction: column;
   }
}

.competitions{
   grid-area: ss;
   background-color: #e67a16;
}

footer {

   grid-area: footer;
   background-color: aqua;
}